*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}

.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* background-color: red; */
}
a{
    text-decoration:none ;
}

.headerr_container{
    margin-bottom: 1.5rem;
}


.headerr_container h1{
  margin-bottom:1rem ;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.headerr_container p{
    max-width: 568px;
    text-align: center;
    color: rgb(52, 51, 51);
    margin: 0 auto;
}

.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);
}

.card_container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(200, 165, 165);
}
.card_container:hover .card_img{
    transform: scale(1.1);
    transition-duration: 200ms;

}
.card_img{
    position: relative;
    overflow: hidden;
    height: 12rem;
}

.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute; /*For overlap image*/
    height: 100%;
    width: 100%;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card_title{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(212, 198, 198);
    line-height: 1.5rem;
    margin-bottom: 0.4rem;
    text-align: center;
}

.card_title_anchor:hover .card_title{
color: rgb(20, 20, 89);
}



.card_desc{
    font-size: 1rem;
    color: rgb(61, 60, 60);
}

.card_footer_container{
    display: flex;
    justify-content: space-between;
}

.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.author_avatar_container{
    height: 2.5rem;
    width: 2.5rem;

    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(49, 47, 47);

}


.author_info_container{
    display: flex;
    flex-direction: column;
    font-weight: -100;
}


.author_name{
    color: rgb(129, 129, 234);
}


.author_date{
    color: rgb(8, 7, 7);
}

.card__tagcontainer{
    font-size: 0.9rem;
    border: 1px solid rgb(75, 71, 71);
    line-height: 1.3rem;
    border-radius:2px ;
    padding: 0.25 0.5;
    color: rgb(101, 99, 99);
    margin-top: 2rem;
    margin: 1rem 1rem;
}